<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Pagina Estudiantes</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <link
      rel="shortcut icon"
      href="/assets/escudocolegio.jpg"
      type="image/x-icon"
    />
  </head>
  <body>
    <header id="header">
      <h1 class="titulo-pagina">I.E. GUADALUPANO LA SALLE</h1>
      <div class="busqueda">
        <input
          type="text"
          id="barraBusqueda"
          placeholder="Escribe la materia a buscar"
        />
        <button class="header-button">Buscar</button>
      </div>
    </header>

    <main id="main-container">
      <section id="profesor">
        <div class="detalle-profesor">
          <img
            id="profesor-imagen"
            class="profesor-imagen"
            src=""
            alt="imagen profesor"
          />
          <h2 id="profesor-nombre"></h2>

          <p id="profesor-biografia"></p>
        </div>
      </section>
      <section id="materias">
        <div class="materia">
          <a class="materia-link" href="http://"
            ><h2 class="materia-titulo">Español 4A</h2></a
          >
        </div>
        <div class="materia">
          <a class="materia-link" href="http://"
            ><h2 class="">Español 4A</h2></a
          >
        </div>
        <div class="materia">
          <a class="materia-link" href="http://"
            ><h2 class="materia-titulo">Español 4A</h2></a
          >
        </div>
        <div class="materia">
          <a class="materia-link" href="http://"
            ><h2 class="materia-titulo">Español 4A</h2></a
          >
        </div>
        <div class="materia">
          <a class="materia-link" href="http://"
            ><h2 class="materia-titulo">Español 4A</h2></a
          >
        </div>
        <div class="materia">
          <a class="materia-link" href="http://"
            ><h2 class="materia-titulo">Español 4A</h2></a
          >
        </div>
        <div class="materia">
          <a class="materia-link" href="http://"
            ><h2 class="materia-titulo">Español 4A</h2></a
          >
        </div>
      </section>
    </main>

    <footer></footer>
    <script src="../scripts/home.js"></script>
  </body>
</html>
